Controller.Api.Rest.a2ae5a6d-f418-49a6-80de-2aaf5ecbfef7="reference:file:/home/de424/git/openems/io.openems.edge.controller.api.rest/generated/io.openems.edge.controller.api.rest.jar"
Predictor.Consumption.LoadForecast.afc39b12-430d-40df-9f76-04fb67bc92e7="reference:file:/home/de424/git/openems/io.openems.edge.predictor.loadforecast/generated/io.openems.edge.predictor.loadforecast.jar"
Scheduler.AllAlphabetically.81214b00-0f18-4d44-9067-e7386363dea0="reference:file:/home/de424/git/openems/io.openems.edge.scheduler.allalphabetically/generated/io.openems.edge.scheduler.allalphabetically.jar"
Simulator.Datasource.CSVReader.57e91983-3f21-41fb-a00c-edb9a91f2777="reference:file:/home/de424/git/openems/io.openems.edge.simulator/generated/io.openems.edge.simulator.jar"
Simulator.GridMeter.Acting.d59b0952-662c-4d7a-aa9a-7b37a612e230="reference:file:/home/de424/git/openems/io.openems.edge.simulator/generated/io.openems.edge.simulator.jar"
org.ops4j.pax.logging="reference:file:/home/de424/.m2/repository/org/ops4j/pax/logging/pax-logging-service/1.11.2/pax-logging-service-1.11.2.jar"
