Controller.Api.Rest.a2ae5a6d-f418-49a6-80de-2aaf5ecbfef7="reference:file:/home/de424/git/openems/io.openems.edge.controller.api.rest/generated/io.openems.edge.controller.api.rest.jar"
Controller.Debug.Log.f7fca386-7c3c-4a56-b9b6-1bcfbb8436f0="reference:file:/home/de424/git/openems/io.openems.edge.controller.debug.log/generated/io.openems.edge.controller.debug.log.jar"
Predictor.LoadForecast.0e390dfe-2f6b-4ecf-94bf-4e0f36e8b8ed="reference:file:/home/de424/git/openems/io.openems.edge.predictor.loadforecast/generated/io.openems.edge.predictor.loadforecast.jar"
Scheduler.AllAlphabetically.8ff01297-19b6-492c-b46a-9e762db8d610="reference:file:/home/de424/git/openems/io.openems.edge.scheduler.allalphabetically/generated/io.openems.edge.scheduler.allalphabetically.jar"
Timedata.InfluxDB.1610eac6-bdf0-4ebe-92ef-57ea3834ae45="reference:file:/home/de424/git/openems/io.openems.edge.timedata.influxdb/generated/io.openems.edge.timedata.influxdb.jar"
org.ops4j.pax.logging="reference:file:/home/de424/.m2/repository/org/ops4j/pax/logging/pax-logging-service/1.11.2/pax-logging-service-1.11.2.jar"
