Controller.Api.Rest.a2ae5a6d-f418-49a6-80de-2aaf5ecbfef7="reference:file:/home/de424/git/openems/io.openems.edge.controller.api.rest/generated/io.openems.edge.controller.api.rest.jar"
Controller.Debug.Log.f7fca386-7c3c-4a56-b9b6-1bcfbb8436f0="reference:file:/home/de424/git/openems/io.openems.edge.controller.debug.log/generated/io.openems.edge.controller.debug.log.jar"
Predictor.Consumption.LoadForecast.afc39b12-430d-40df-9f76-04fb67bc92e7="reference:file:/home/de424/git/openems/io.openems.edge.predictor.loadforecast/generated/io.openems.edge.predictor.loadforecast.jar"
Scheduler.AllAlphabetically.81214b00-0f18-4d44-9067-e7386363dea0="reference:file:/home/de424/git/openems/io.openems.edge.scheduler.allalphabetically/generated/io.openems.edge.scheduler.allalphabetically.jar"
Simulator.Datasource.CSVReader.cbc308b9-302f-482c-9eab-c3bb60672c2d="reference:file:/home/de424/git/openems/io.openems.edge.simulator/generated/io.openems.edge.simulator.jar"
Simulator.NRCMeter.Acting.8f94035a-a3c9-4576-a869-81227629e2eb="reference:file:/home/de424/git/openems/io.openems.edge.simulator/generated/io.openems.edge.simulator.jar"
Timedata.InfluxDB.f78f449d-5f07-48b1-a86d-881bed570da0="reference:file:/home/de424/git/openems/io.openems.edge.timedata.influxdb/generated/io.openems.edge.timedata.influxdb.jar"
org.ops4j.pax.logging="reference:file:/home/de424/.m2/repository/org/ops4j/pax/logging/pax-logging-service/1.11.2/pax-logging-service-1.11.2.jar"
