alias=""
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.8f94035a-a3c9-4576-a869-81227629e2eb))(|(id\=datasource0)))"
enabled=B"true"
id="meter0"
maxActivePower=I"6000"
minActivePower=I"0"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.8f94035a-a3c9-4576-a869-81227629e2eb"
