:org.apache.felix.configadmin.revision:=L"3"
alias=""
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.e0b86f07-b449-4f96-9d06-bd619cadb5bb))(|(id\=datasource0)))"
enabled=B"true"
id="meter0"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.e0b86f07-b449-4f96-9d06-bd619cadb5bb"
