:org.apache.felix.configadmin.revision:=L"86"
alias=""
allowSimpleMode=B"true"
database.id="influx0"
enabled=B"true"
ess.Id="ess0"
feedin.limit=F"1056964608"
forecast.horizon.length=I"15"
id="ctrlFidVl0"
load.forecast.Id="loadForecast0"
meter.Id="meter0"
pv.inverter.Id="pvInverter0"
pvproduction.forecast.Id="pvProductionForecast0"
service.factoryPid="Controller.fid.FID-VL"
service.pid="Controller.fid.FID-VL.5c286e01-fc49-4161-93bf-3446f511f6cd"
simpleStrategy=B"false"
simulation.start.time="2015-07-29T12:30"
timeout=I"720"
