:org.apache.felix.configadmin.revision:=L"1"
alias=""
database="db"
enabled=B"true"
id="influx0"
ip="localhost"
isReadOnly=B"false"
noOfCycles=I"1"
port=I"8086"
retentionPolicy="autogen"
service.factoryPid="Timedata.InfluxDB"
service.pid="Timedata.InfluxDB.ccca288c-dda9-4e68-bb8b-85e4d90253a1"
username="root"
