:org.apache.felix.configadmin.revision:=L"8"
alias=""
capacity=I"5000"
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.EssSymmetric.Reacting.01f4a3a4-556b-453a-866d-835f5b0ee1e6))(|(id\=datasource0)))"
enabled=B"true"
gridMode="ON_GRID"
id="ess0"
initialSoc=I"50"
maxApparentPower=I"2500"
service.factoryPid="Simulator.EssSymmetric.Reacting"
service.pid="Simulator.EssSymmetric.Reacting.01f4a3a4-556b-453a-866d-835f5b0ee1e6"
