:org.apache.felix.configadmin.revision:=L"2"
alias=""
enabled=B"true"
factor=F"1065353216"
format="GERMAN_EXCEL"
id="datasource0"
realtime=B"false"
service.factoryPid="Simulator.Datasource.CSVReader"
service.pid="Simulator.Datasource.CSVReader.1ba47f8f-73fc-40cf-80d7-a32c3bfd1c25"
source="ZERO"
timeDelta=I"3600"
