:org.apache.felix.configadmin.revision:=L"1"
alias=""
enabled=B"true"
factor=F"1176256512"
format="GERMAN_EXCEL"
id="datasource0"
realtime=B"false"
service.factoryPid="Simulator.Datasource.CSVReader"
service.pid="Simulator.Datasource.CSVReader.448faeac-f4b0-4df2-90e4-2f91348b1a79"
source="H0_HOUSEHOLD_SUMMER_WEEKDAY_STANDARD_LOAD_PROFILE"
timeDelta=I"60"
